/* Custom Fonts */
@font-face{font-family:choplin;src:url(/fonts/Choplin-Medium.otf)}
@font-face{font-family:choplin-light;src:url(/fonts/Choplin-ExtraLight.otf)}

body {
        background-color: #454545;
    color: #cecece;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    line-height: 175%;
    width: 100%;
}

ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.cookie-title, h1 {
    font-family: Choplin !important;
}

.content {
        margin-left: 5%;
    width: 95%;
}

.content p {
    color: red;
}

/* Navigation */
.side-nav {
    width: 5%;
    float: left;
    background-color: #323232;
    bottom: 0;
    overflow: hidden;
}

.upper-side-nav-item, .hamburger {
    margin-top: 12.5%;
    margin-bottom: 5%;
    margin-left: 27.5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.upper-nav-items {
    margin-bottom: 40%;
}

.category-icons {
    margin-bottom: 60%;
    margin-top: 60%;
}

.nav-logo {
    margin: 30%;
    position: relative;
    height: 300px;
    width: 300px;
}

.nav-logo img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
}

.category-icons i {
    margin-top: 12.5%;
    margin-bottom: 25%;
    margin-left: 30%;
}

.category-icons a i {
    filter: brightness(0) invert(1);
}

.icon {
    background-image: url('/img/spritesheet.png');
    display: block;
}

.menu-icon {
    width: 70px;
    height: 70px;
    background-position: -265px -10px;
    zoom: 0.7;
}

.search-icon {
    width: 70px;
    height: 70px;
    background-position: -265px -180px;
    zoom: 0.7;
}

.about-icon {
    width: 35px;
    height: 35px;
    background-position:-180px -10px;
    zoom: 1.3;
}

.faq-icon {
    width: 70px;
    height: 70px;
    background-position: -10px -150px;
    zoom: 0.7;
}

.divider {
    margin-left:15%;
    width:70%;
    border-bottom:solid 2px #454545
}

.dog-icon, .cat-icon, .fish-icon, .bird-icon, .animal-icon {
    width: 60px;
    height: 60px;
    zoom: 0.6;
}

.dog-icon {
    background-position: -180px -64px;
}

.cat-icon {
    background-position: -95px -10px;
}

.fish-icon {
    background-position: -95px -150px;
}

.bird-icon {
    background-position: -10px -10px;
}

.animal-icon {
    background-position: -180px -150px;
}

/* Cookie Window */
.cookie-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(69,69,69,.8);
}

.cookie-window {
    position: absolute;
    width: 25%;
    top: 35vh;
    height: 325px;
    left: 37.5%;
    background-color: #e6cfb9;
}

.cookie-window img {
    position: relative;
    top: -20px;
    left: -50px;
}

.cookie-content {
    position: relative;
    width: 60%;
    top: -25%;
    left: 20%;
}

.cookie-content p {
    margin: 12px 0;
    width: 100%;
    color: #000;
    font-weight: 500;
    line-height: 25px;
}

.close-cookie {
    position: relative;
    top: -20px;
    left: 110%;
}

.close-cookie-icon {
    width: 100%;
    font-size: 34px;
    font-weight: 500;
    color: #e27500;
    text-transform: none;
    margin: 0;
    cursor: pointer;
}

.cookie-title {
    width: 100%;
    font-size: 36px;
    font-weight: 500;
    color: #e27500;
    text-transform: none;
    margin: 0;
}

.cookie-button {
    width: 100%;
    font-size: 18px;
    background-color: #e27500;
    color: #fff;
    border: none;
    text-align: center;
    padding: 10px 0;
    margin-top: 5%;
}

/* Carousel */
.carousel-logo {
    position: absolute;
    width: 20%;
    top: 75px;
    left: 42.5%;
    text-align: center;
    z-index: 1;
}

.carousel {
    margin-left: 5%;
}

.carousel-inner .item img {
    min-width: 100%;
}

