/* Custom Fonts */
@font-face{font-family:choplin;src:url(/fonts/Choplin-Medium.otf)}
@font-face{font-family:choplin-light;src:url(/fonts/Choplin-ExtraLight.otf)}

body {
    background-color: #454545;
    color: #cecece;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    line-height: 175%;
    width: 100%;
}

ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.cookie-title, h1 {
    font-family: Choplin !important;
    color: #fff;
}

.content {
    margin-left: 5%;
    width: 95%;
}

/* .content p {
    color: red;
} */

/* Navigation */
.active-nav-item {
    background-color: #fff;
}

.side-nav {
    width: 5%;
    float: left;
    background-color: #323232;
    bottom: 0;
    overflow: hidden;
}

.upper-side-nav-item, .hamburger {
    margin-top: 12.5%;
    margin-bottom: 5%;
    margin-left: 27.5%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.upper-nav-items {
    margin-bottom: 40%;
}

.category-icons {
    margin-bottom: 60%;
    margin-top: 60%;
}

.nav-logo {
    margin: 30%;
    position: relative;
    height: 1000px;
    width: 300px;
}

.nav-logo img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
}

.category-icons i {
    margin-top: 12.5%;
    margin-bottom: 25%;
    margin-left: 30%;
}

.category-icons a i {
    filter: brightness(0) invert(1);
}

.icon {
    background-image: url('/img/spritesheet.png');
    display: block;
    background-repeat: no-repeat;
}

.category-icons a i:hover {
    filter: none;
}

.menu-icon {
    width: 70px;
    height: 70px;
    background-position: -265px -10px;
    zoom: 0.7;
}

.search-icon {
    width: 70px;
    height: 70px;
    background-position: -265px -180px;
    zoom: 0.7;
}

.about-icon {
    width: 35px;
    height: 35px;
    background-position:-180px -10px;
    zoom: 1.3;
}

.faq-icon {
    width: 70px;
    height: 70px;
    background-position: -10px -150px;
    zoom: 0.7;
}

.divider {
    margin-left:15%;
    width:70%;
    border-bottom:solid 2px #454545
}

.dog-icon, .cat-icon, .fish-icon, .bird-icon, .animal-icon {
    width: 60px;
    height: 60px;
    zoom: 0.6;
}

.dog-icon {
    background-position: -180px -64px;
}

.cat-icon {
    background-position: -95px -10px;
}

.fish-icon {
    background-position: -95px -150px;
}

.bird-icon {
    background-position: -10px -10px;
}

.animal-icon {
    background-position: -180px -150px;
}

/* Cookie Window */
.cookie-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(69,69,69,.8);
}

.cookie-window {
    position: absolute;
    width: 25%;
    top: 35vh;
    height: 325px;
    left: 37.5%;
    background-color: #e6cfb9;
}

.cookie-window img {
    position: relative;
    top: -20px;
    left: -50px;
}

.cookie-content {
    position: relative;
    width: 60%;
    top: -25%;
    left: 20%;
}

.cookie-content p {
    margin: 12px 0;
    width: 100%;
    color: #000;
    font-weight: 500;
    line-height: 25px;
}

.close-cookie {
    position: relative;
    top: -20px;
    left: 110%;
}

.close-cookie-icon {
    width: 100%;
    font-size: 34px;
    font-weight: 500;
    color: #e27500;
    text-transform: none;
    margin: 0;
    cursor: pointer;
}

.cookie-title {
    width: 100%;
    font-size: 36px;
    font-weight: 500;
    color: #e27500;
    text-transform: none;
    margin: 0;
}

.cookie-button {
    width: 100%;
    font-size: 18px;
    background-color: #e27500;
    color: #fff;
    border: none;
    text-align: center;
    padding: 10px 0;
    margin-top: 5%;
}

/* Carousel */
.carousel-logo {
    position: absolute;
    width: 20%;
    top: 75px;
    left: 42.5%;
    text-align: center;
    z-index: 1;
}

.carousel {
    margin-left: 5%;
}

.carousel-inner .item img {
    min-width: 100%;
}

/* HOME PAGE STYLING */
.home-intro {
    font-family: Calibri;
    width: 65%;
    margin-left: 17.5%;
    margin-top: 75px;
    text-align: center;
}

.categories {
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
}

.category {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 16.3%;
    height: 75px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.categories .category:nth-child(6n) {
    border-right: none;
}

.category i {
    margin-left: 35%;
}

.category span {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 1vw;
    margin-top: 15px;
    font-family: Choplin-light !important;
}

.category .icon {
    zoom: 1;
}

.other-icon {
    width: 65px;
    height: 65px;
    background-position: -265px -95px;
}

.main-content {
    width: 80%;
    padding-top: 50px;
    margin-left: 10%;
}

.hot-items {
    width: 100%;
    height: 100%;
    text-align: justify;
}

.image-count {
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    border-radius: 50%;
}

.image-count span {
    position: relative;
    top: 3px;
    left: 6px;
    color: rgb(86, 86, 86);
    padding: 5px;
}

.overlay {
    position: relative;
    width: inherit;
    height: inherit;
}

.overlay .after {
    position: absolute;
    padding-top: 75px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.overlay:hover .after {
    display: block;
    opacity: 0.8;
    background: #f17da6;
    text-align: center;
}

.hot-item {
    width: 24.5%;
    display: inline-block;
    background-color: rgb(86, 86, 86);
    margin-bottom: 0.5%;
    margin-right: 0.2%;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(113, 113, 113);
    border-image: initial;
    padding: 5px;
}

.hot-item-image {
    height: 180px;
}

.hot-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
}

.store-span {
    float: right;
    text-align: right;
    margin: 10px 0px;
    padding: 5px
}

.store-span a:link {
    color: #fff;
    text-decoration: underline;
}

.subscription-content {
    float: left;
    width: 100%;
    height: 225px;
    background-color: rgb(95, 95, 95);
    margin: 25px 0px 75px;
}

.promotion {
    display: inline-block;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 65%;
    background-image: url('/img/patroon_A.jpg');
    padding-top: 15px;
    font-family: Choplin;
}

.promotion h1 {
    margin-left: 15%;
    width: 70%;
    font-size: 48px;
    text-transform: none;
}

.email-content {
    display: inline-block;
    height: 100%;
    width: 35%;
    float: right;
    padding: 20px 0px 0px 25px;
}

.email-content h3 {
    color: #fff;
}

.email-content form {
    margin-top: 30px;
}

.email-content input[type="text"] {
    color: rgb(43, 43, 43);
    width: 75%;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(154, 154, 154);
    border-image: initial;
}

.email-content input[type="submit"] {
    margin-left: -5px;
    background-color: rgb(50, 50, 50);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 12px;
}

/* ABOUT PAGE STYLING */
.logo_small {
    width: 32px;
}

.about-text {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    height: 25px;
    color: rgb(255, 255, 255);
    line-height: 23px;
    margin: 0px 5px 10px 15px;
    padding: 0px 15px;
    background: rgb(50, 50, 50);
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgb(50, 50, 50);
    border-image: initial;
}

.about-text::before {
    position: absolute;
    content: "";
    color: rgb(255, 255, 255);
    text-shadow: rgb(51, 51, 51) 0px 0px 1px;
    font-size: 11px;
    line-height: 0;
    text-indent: 12px;
    left: -15px;
    width: 1px;
    height: 0px;
    border-right: 15px solid rgb(50, 50, 50);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.title {
    text-transform: uppercase;
    color: #fff;
}

.about-content {
    margin-bottom: 250px;
}

.left-about-content {
    width: 60%;
    float: left;
}

.right-about-content {
    width: 25%;
    float: right;
    padding: 0px 40px 20px;
    border-left: 1px solid rgb(97, 97, 97);
    border-bottom: 1px solid rgb(97, 97, 97);
}

.about-form {
    margin-bottom: 75px;
    width: 75%;
}

.about-form input, .about-form textarea {
    border-radius: 0px;
}

.form-group {
    margin-bottom: 15px;
}

.button {
    color: #fff;
    background-color: rgb(255, 111, 158);
    padding: 5px 60px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

